<main class="row justify-content-center" id="wrapper">
        <section class="col-md-3 bg-light text-dark ">
        <div id="search-box">
            <h3>Search for a users posts:</h3>
            <form >
            <label for="search-bar">Search</label>
            <input type="text" id="search-bar" name="search-bar"><br><br>
            <input type="button" id="search-btn" value="search">
            </form>
        </div>
        <div id="posts" >All Posts</a></div> 
        <div id="createPost"><a href="/create-post">Create Post</a></div>
      </section>
      <div class="col-md-10 post-container">
      </div>
    </main>