<div class="col-md-10">
    <h1>Create A Post:</h1>
    <form>
        <label for="post-text">Text</label>
        <input type="text" id="post-text" name="post-text"><br>
        <label for="post-link">Link to Website</label>
        <input type="text" id="post-link" name="post-link"><br>
        <label for="user-id">User ID</label>
        <input type="text" id="user-id" name="user-id"><br>
        <div class="border border-dark text-center" id="post-submit">Post</div>
    </form>
</div>
<script src="/assets/createPost.js"></script>