<div class="col-md-10">
    <h1>Create A Post:</h1>
    <form>
        <label for="form-text">Text</label>
        <input type="text" id="form-text" name="form-text"><br>
        <label for="form-link">Link to Website</label>
        <input type="text" id="form-link" name="form-link"><br>
        <label for="form-id">User ID</label>
        <input type="text" id="form-id" name="form-id"><br>
        <div class="border border-dark text-center" id="form-submit" onclick="console.log(document.getElementById('form-text').value, document.getElementById('form-link').value, document.getElementById('form-id').value), savePost( document.getElementById('form-id').value, document.getElementById('form-text').value, document.getElementById('form-link').value)">Post</div>
    </form>
</div>
<script src="/assets/js/createPost.js"></script>
