<div class="row">
    <img src="images/cooking.jpeg" style="padding:30px; height:50vh;">
    <h2 id="welcome">Welcome to the Hungry Guys</h2>
    <p>We here at Hungry Guys have one mission, sharing awesome recipes with all our hungry members. </br>
    Feel free to join our group, share meals, rate and comment on recipes and find something </br> to fill your stomach and soul!</p>
</div>

<div class="col-md-10">
    <h1 id="welcome">Welcome to the Hungry Guys homepage</h1>
     
</div>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
