<form class="login-form col">
  <div>
    <label for="email-login">Email Address</label>
    <input type="text" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Password" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

<form class="signup-form col">
  <div>
    <label for="username-signup">Username</label>
    <input type="text" class="form-control" id="username-signup" aria-describedby="usernameHelp" placeholder="Enter Username"/>
  </div>
  <div>
    <label for="email-signup">Email Address</label>
    <input type="text" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  <div>
     <label for="password-signup">Password</label>
    <input type="password" class="form-control" id="password-signup" placeholder="Password" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>

<script src="/assets/js/login.js"></script>